{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div class="container py-5">
  {% if question %}
    <h2>Kérdés</h2>
    <form method="POST" class="text-center">
      {% csrf_token %}
      <input type="hidden" name="question_pk" value="{{ question.pk }}">

      <div class="question-text">
        {{ question.html|safe }}
      </div>

      {% if question.is_multiple_choice %}
        <p><strong>Több helyes válasz is lehetséges!</strong></p>
        <div class="checkbox-container">
          {% for choice in question.choices.all %}
            <label class="checkbox-label">
              <input type="checkbox" name="choices" value="{{ choice.pk }}">
              {{ choice.html|safe }}
            </label>
          {% endfor %}
        </div>
      {% else %}
        <div class="radio-input">
          {% for choice in question.choices.all %}
            <label class="label">
              <input type="radio" name="choice_pk" value="{{ choice.pk }}">
              <p class="text">{{ choice.html|safe }}</p>
            </label>
          {% endfor %}
        </div>
      {% endif %}

      <button type="submit">Válasz elküldése</button>
    </form>

  {% else %}
  <div class="text-center my-5">
    <h2>Nincs több kérdés</h2>

    <a href="{% url 'quiz:leaderboard' %}" class="btn btn-lg btn-warning mt-3 ml-2">
      <i class="fa fa-trophy" aria-hidden="true"></i> Nézd meg a ranglistát
    </a>

    <!-- Modal trigger -->
    <button 
      type="button" 
      class="btn btn-lg btn-warning mt-3 ml-2"
      style="cursor: pointer;"
      data-toggle="modal" 
      data-target="#restartModal">
      🔁 Kvíz újrakezdése
    </button>
  </div>

<!-- Modal -->
  <div class="modal fade" id="restartModal" tabindex="-1" role="dialog" aria-labelledby="restartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning text-dark">
          <h5 class="modal-title" id="restartModalLabel">Kvíz újrakezdése</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Bezárás">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Biztosan újra szeretnéd kezdeni a kvízt?<br>
          Az eddigi pontszámod <strong>nullázódni fog</strong>.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
          <a href="{% url 'quiz:restart_quiz' quiz.id %}" class="btn btn-danger">Igen, kezdd újra</a>
        </div>
      </div>
    </div>
  </div>

{% endif %}

</div>

{% endblock %}
