{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <h2>{{ quiz.title }} – Beállítások</h2>
  <p>{{ quiz.description }}</p>

  <ul>
    <li><b>Időkorlát:</b> {{ quiz.time_limit_seconds }} mp</li>
    <li><b>Azonnali visszajelzés:</b> {{ quiz.immediate_feedback|yesno:"Igen,Nem" }}</li>
    <li><b>Többször kitölthető:</b> {{ quiz.allow_multiple_attempts|yesno:"Igen,Nem" }}</li>
  </ul>

  <hr>
  <div class="mt-4 mb-4">
    <h4>Hozzáférés beállítása</h4>
    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        <label>Engedélyezett felhasználók (Diákok):</label>
        <select name="allowed_users" multiple class="form-control" size="6">
          {% for user in all_users %}
            <option value="{{ user.id }}" {% if user in quiz.allowed_users.all %}selected{% endif %}>
              {{ user.username }}
            </option>
          {% endfor %}
        </select>
        <small class="form-text text-muted">Tartsd lenyomva a Ctrl-t több csoport kijelöléséhez vagy a kijelölés visszavonásához.</small>
      </div>

      <div class="form-group mt-3">
        <label>Engedélyezett csoportok:</label>
        <select name="allowed_groups" multiple class="form-control" size="5">
          {% for group in all_groups %}
            <option value="{{ group.id }}" {% if group in quiz.allowed_groups.all %}selected{% endif %}>
              {{ group.name }}
            </option>
          {% endfor %}
        </select>
        <small class="form-text text-muted">Tartsd lenyomva a Ctrl-t több csoport kijelöléséhez vagy a kijelölés visszavonásához.</small>
      </div>

      <button type="submit" class="btn btn-primary mt-3">Hozzáférés mentése</button>
    </form>
  </div>

  <h4>Kérdések</h4>
  <ul>
    {% for question in questions %}
      <li>{{ question.html|safe }}</li>
    {% empty %}
      <li>Még nincsenek kérdések hozzáadva.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'quiz:select_question_type' quiz.id %}" class="btn btn-success">
    + Kérdés hozzáadása
  </a>

</div>

{% endblock %}
